@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #000000;
  background-image: url("../assets/potrait.jpg");
  background-size: cover;
  text-align: center;
}

.chat-container {
  background: linear-gradient(to right, #482a, #fffa);
  margin: 5% 20%;
  width: 60%;
  height: 75%;
  /* max-height: 720px; */
  justify-content: top;
  min-width: 480px;
  border-radius: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  overflow-y: auto;
  position: relative;
}

.chat {
  display: flex;
  flex-direction: column;
  height: 480px;
  overflow-y: scroll;
  padding: 0 2%;
  /* margin: 1%; */
}

.top {
	color: #fff;
  background-color: #4b802f;
	display: flex;
	padding: 0.2rem 1rem;
}

.bottom {
	color: #fff;
  background-color: #4b802f;
	display: flex;
  flex-direction: column;
	padding: 1.5rem 0;
}

h2 {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  margin-top: 10px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border: 2px solid #b8c4cc;
}

.message {
  border-radius: 1rem;
  position: relative;
  font-size: 1rem;
  padding: 0.5rem 0.7rem;
}

.message.left {
  margin-top: 5px;
  max-width: 80%;
  background-color: #fff;
  border: 2px solid #cccccc;
  text-align: left;
}

.message.right {
  align-self: flex-end;
  margin: 1rem 0;
  max-width: 80%;
  background-color: #4b802f;
  color: #fff;
  text-align: left;
}

.message.selected {
  margin-top: 5px;
  max-width: 80%;
  background-color: #ccc;
  border: 2px solid #4b802f;
  font-weight: bold;
  text-align: left;
}

.message p {
  margin: 0;
}

.text_input {
  width: 70%;
  padding: 0.5rem 1rem;
  border: 2px solid #4b802f;
  border-radius: 2rem;
  font-size: 1rem;
}

.btn {
  color: #fff;
  background-color: #4b802f;
	font-size: 1rem;
  font-weight: bold;
  width: 20%;
  padding: 0.5rem;
  border: 2px solid white;
  border-radius: 2rem;
  cursor: pointer;
}

.btn:active {
  color: #fff;
  background-color: #5ba03f;
	font-size: 1rem;
  font-weight: bold;
  width: 20%;
  padding: 0.5rem;
  border: 2px solid white;
  border-radius: 2rem;
}
